p {
    font-family: 'Calibri', serif;
    font-size: 15px;
    opacity: 1.0;
    padding: 5px;
    color: #78817a;
}
h1 {
    font-family: 'Calibri', sans-serif;
    font-size: 300%;
    font-weight: bolder;
    padding: 5px;
    background-color: black;
    color: #78817a;
}
h2 {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
div.image img {
    border-radius: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 300px;
    float: right;
    text-align: center;
    filter: color(100%);
}

div.education ul {
  list-style-type:square;  
  font-family: 'Calibri', serif;
  font-size: 15px;
  padding-left: 25px;
  color: #78817a;
}

div.experience ol {
    list-style-type:decimal;  
    font-family: 'Calibri', serif;
    font-size: 15px;
    padding-left: 25px;
    color: #78817a;
  }

  div.topten ol {
    list-style-type:decimal;  
    font-family: 'Calibri', serif;
    font-size: 15px;
    padding-left: 25px;
    color: #78817a;
  }  

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }